/* PIZZERIA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: min(1140px, 100%);
    height: 90vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title {
	text-align: center;
	color: #1b1b1b;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ascii-format {
	font-family: Monospace;
	color: #1b1b1b;
	font-size: 2rem;
	text-align: center;
}
