/* Navbar font */
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
/* Body font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300&display=swap');

/* Master styles */
:root {
    --mainBlack: #1b1b1b;
    --mainWhite: #fafafa;
    --secondaryColor: #225599;
    --titleLetterSpacing: 0.1rem;
    --mainBoxShadow: 0px 1px 13px 0px rgba(27, 27, 27, 0.35);
    --mainBorderRadius: 4px;
    --slowTransition: all 0.3s ease;
    --fastTransition: all 0.2s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.center-text {
    margin: auto;
    text-align: center;
}

.container {
    width: min(1140px, 100%);
    height: 90vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* EndMaster styles */

/* Navbar styles */
.nav-bar {
    font-family: 'Michroma', sans-serif;
    height: 3.5rem;
    width: 100%;
    background: var(--mainWhite);
    color: var(--mainBlack);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    user-select: none;
    box-shadow: var(--mainBoxShadow);
}

.nav-header {
    width: 65%;
    display: flex;
    align-items: center;
    padding-bottom: 0.125rem;
}

.nav-title-link {
    display: inline;
}

.nav-logo {
	margin-right: 0.35rem;
}

.nav-header img {
	padding-top: 0.4rem;
	height: 40px;
}

.nav-header h1 {
    font-size: 2rem;
    color: var(--mainBlack);
    letter-spacing: var(--titleLetterSpacing);
}

.nav-links {
    width: max(20%, 275px);
    display: flex;
    justify-content: space-around;
    font-size: 1.35rem;
    font-weight: 600;
    text-transform: uppercase;
    list-style: none;
    transition: var(--fastTransition);
}

.nav-links li a {
    color: var(--mainBlack);
}

.nav-links li a:hover {
    color: var(--secondaryColor)
}

.nav-links li a:active {
    color: var(--mainBlack)
}
/* End Navbar styles */

/* List styles */
.list-container {
    display: flex;
    flex-direction: column;
    box-shadow: var(--mainBoxShadow);
    min-height: 175px;
    width: min(450px, 97vw);
    padding: 1.5rem 1rem;
    border-radius: var(--mainBorderRadius);
}

.list-title h1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.list-items {
    margin: 0 0 0.15rem 0.5rem;
    list-style: none;
    min-height: 150px;
}

.list-items li:hover a {
    color: var(--secondaryColor);
    background: rgba(27, 27, 27, 0.05);
    border-radius: var(--mainBorderRadius);
}

.list-item a {
    padding: 0.05rem 0.35rem;
}

.list-item,
.list-item a {
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--mainBlack);
    display: block;
    transition: var(--slowTransition);
}
/* End List styles */
.title {
	text-align: center;
	color: #1b1b1b;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ascii-format {
	font-family: Monospace;
	color: #1b1b1b;
	font-size: 2rem;
	text-align: center;
}
