{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/f1beb0d26f.js" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static './css/styles.css' %}">
    <title>Blog {% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="navbar">
        <ul class="nav-links">
            <li>
                <a href="{% url 'blogs:index' %}">Home</a>
            </li>
        </ul>

        <ul class="nav-logins">
            {% if user.is_authenticated %}
                <li>
                    <a class="greetings">Hello, {{ user.username }}</a>
                </li>
                <li>
                    <a href="{% url 'users:logout' %}">log out</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'users:login' %}">log in</a>
                </li>
                <li>
                    <a href="{% url 'users:register' %}">register</a>
                </li>
            {% endif %}
        </ul>
    </div>

    <div class="container">
        {% block content %}{% endblock content %}
    </div>
</body>
</html>