{% extends 'base.html' %}
{% load bootstrap5 %} 

{% block title %}Register{% endblock title %}

{% block header %}
    <h2>Create a new account.</h2>
{% endblock header %}

{% block content %}
        <form class="from" action="{% url 'users:register' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            
            {% buttons %}
                <button name="submit" class="btn btn btn-success">register</button>
            {% endbuttons %}
            
            <input type="hidden" name="next" value="{% url 'learning_logs:index' %}">
        </form>
{% endblock content %}