<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Meal Plan</title>
	</head>
	<body>
		<h1>Welcome To Meal Plan</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nemo iusto ipsa autem
			accusamus labore doloribus commodi id voluptas hic. Fugit quam labore facere adipisci?
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nemo iusto ipsa autem
			accusamus labore doloribus commodi id voluptas hic. Fugit quam labore facere adipisci?
		</p>
	</body>
</html>
