{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
		<title>Pizzas Home</title>
	</head>
	<body>
		<div class="container">
			<div class="title">
				<h1>Welcome To Pizzas</h1>
			</div>
			<pre class="ascii-format">
	 _              
	(_)             
 _ __  _ __________ _ 
| '_ \| |_  /_  / _` |
| |_) | |/ / / / (_| |
| .__/|_/___/___\__,_|
| |	              
|_|                   
			</pre
			>
		</div>
	</body>
</html>
