{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% block content %}

    <div class="tilte-container">
        <h1>Hottest Blogs</h1>
    </div>
    
    <div class="blog-items-container">
        {% for blog_post in blog_posts %}
        <div class="blog-item-container">

            <div class="blog-item-header">
                <h3>{{ blog_post }}</h3>
                <div class="blog-header-left">
                    <p class="blog-timestamp">{{ blog_post.date_added }}</p>
                    <i class="fas fa-pencil-alt"></i>
                </div>
            </div>
            
            <div class="blog-item-text">
                {{ blog_post.text }}
            </div>
            
        </div>
        
        {% empty %}
            <h3>No posts have been posted yet.</h3>
        {% endfor %}

    </div>
    <div class="blog-items-footer">
        <a href="{% url 'blogs:new_blog' %}" class="btn">Create post</a>
    </div>

{% endblock content %}
