/* Title font */
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
/* Body font */
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --titleFont: 'Yeseva One', cursive;
    --mainFont: 'Bitter', serif;
    --mainBorderBottom: solid 1px rgba(27, 27, 27, 0.25);
}

body {
    font-family: var(--mainFont)
}

/* Form styles */
form {
    margin: 0 auto;
}

form p {
    font-family: var(--titleFont);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input[type="text" i] {
    font-family: var(--mainFont);
    font-size: 1.2rem;
    width: 80%;
}

textarea {
    font-size: 1.2rem;
    font-family: var(--mainFont);
    margin-top: 1rem;
}
/* End Form styles */

/* Navbar styles */
.navbar {
    font-family: var(--titleFont);
    background: #ababab;
    padding: 0.35rem 1rem;
    margin-bottom: 2rem;
}

.nav-links {
    background: #ababab;
    padding: 0.35rem 1rem;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #1b1b1b;
    transition: 0.2s ease;
}

.nav-links li:hover a {
    color:aquamarine;
}
/* End Navbar styles */

.container {
    display: flex;
    flex-direction: column;
    width: min(650px, 97vw);
    align-items: center;
    margin: 0 auto;
}

.title-container {
    font-family: var(--titleFont);
    color: #1b1b1b;
    font-size: 1.75rem;
    text-transform: capitalize;
    margin-bottom: 6rem;
}

.title-container-small {
    font-family: var(--titleFont);
    color: #1b1b1b;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 5rem;
}

.blog-items-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: #1b1b1b;
    margin-bottom: 1.5rem;
}

.blog-item-container {
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
}

.blog-item-header {
    font-family: var(--titleFont);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-transform: capitalize;
    font-size: 1.55rem;
    margin-bottom: 0.85rem;
    padding-bottom: 0.35rem;
    border-bottom: var(--mainBorderBottom);
}

.blog-header-right {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: flex-end;
}

.blog-header-left {
    width: 10%;
    display: flex;
    justify-content: flex-end;
}

.blog-header-left i {
    font-size: 1.1rem;
    padding: 0 0 0.1rem 0.5rem;
    filter: opacity(0.75);
    transition: 0.2s ease;
    cursor: pointer;
}

.blog-header-left a i {
    color: #1b1b1b;
}

.blog-header-left i:hover {
    color: aquamarine;
    filter: opacity(1);
}

.blog-timestamp {
    font-family: var(--mainFont);
    font-size: 0.9rem;
    font-weight: 400;
}

.blog-item-text {
    width: 100%;
    font-size: 1.2rem;
}

.blog-items-footer {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 0.25rem 1rem;
    border: none;
    border-radius: 3px;
    background: aquamarine;
    color: #1b1b1b;
    font-family: var(--mainFont);
    font-size: 1.1rem;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease;
    filter: opacity(0.75);
}

.btn:hover {
    filter: opacity(1);
}