* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background: #ababab;
    padding: 0.35rem 1rem;
    margin-bottom: 1.5rem;
}

.nav-links {
    background: #ababab;
    padding: 0.35rem 1rem;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #1b1b1b;
    transition: 0.2s ease;
}

.nav-links li:hover a {
    color:aquamarine;
}

.container {
    display: flex;
    flex-direction: column;
    width: min(650px, 97vw);
    align-items: center;
    margin: 0 auto;
}

.tilte-container {
    color: #1b1b1b;
    font-size: 1.75rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.blog-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: #1b1b1b;
    margin-bottom: 1.5rem;
}

.blog-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.55rem;
    margin-bottom: 0.85rem;
    text-transform: capitalize;
}

.blog-item-text {
    width: 100%;
    font-size: 1.2rem;
}