{% extends 'base.html' %}

{% block title %} Topics {% endblock title %}
{% block content %}

    <div class="content-card">

        <div class="title">
            <h1>Topics</h1>
        </div>
        
        <ul class="topics-list">
            {% for topic in topics %}
            <li>
                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
            </li>
            {% empty %}
            <li>No topics have been added yet.</li>
            {% endfor %}
        </ul>
        
        <a class="add-topic-btn btn" type="button" href="{% url 'learning_logs:new_topic' %}">Add a new topic:</a>
    </div>
        
{% endblock content %}