{% extends 'base.html' %}

{% block title %} {{ topic }} {% endblock title %}
{% block content %}

    <div class="content-card">

        <div class="title">
            <h1>Topic: {{ topic }}</h1>
        </div>
        
        <div class="secondary-title">
            <h3>Entries:</h3>
        </div>
        
        <ul class="entries-list">
            {% for entry in entries %}
            <li>
                <p class="timestamp">{{  entry.date_added|date:'M d, Y H:i'  }}</p>
                <p class="entry-item">{{  entry.text  }}</p>
            </li>
            {% empty %}
            <li>
                <p class="entry-item empty">There are no entries for this topic yet.</p>
            </li>
            {% endfor %}
        </ul>

            <a class="add-entry-btn btn" type="button" href="{% url 'learning_logs:new_entry' topic.id %}">Add a new entry:</a>
    </div>
        
        {% endblock %}