{% extends 'base.html' %}

{% block title %}Login{% endblock title %}
{% block content %}


    <div class="login-container">
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form action="{% url 'users:login' %}" class="login-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="btn-container">
                <button class="login-btn btn">login</button>
            </div>

            <input type="hidden" name="next" value="{% url 'blogs:index' %}">
        </form>
    </div>

{% endblock content %}