{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}Edit {{ entry }}{% endblock title %}

{% block header %}
    <h2><a class="text-decoration-none" href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></h2>
{% endblock header %}

{% block content %}
        <h3 class="text-secondary">Edit entry:</h3>

        <form class="form" action="{% url 'learning_logs:edit_entry' entry.id %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button class="btn btn-sm btn-warning" name="submit">save changes</button>
            {% endbuttons %}
        </form>
{% endblock content %}