{% extends 'base.html' %}
{% load bootstrap5 %} 

{% block title %}Add New Topic{% endblock title %}

{% block header %}
    <h2>Add a new topic:</h2>
{% endblock header %}

{% block content %}
    <form class="form" action="{% url 'learning_logs:new_topic' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
        <div class="btn-container">
            <button class="btn btn-primary" name="submit">add topic</button>
        </div>
        {% endbuttons %}
    </form>
{% endblock content %}