{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}New Entry{% endblock title %}

{% block header %}
<h2><a class="text-decoration-none" href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></h2>
{% endblock header %}
{% block content %}
        <h3 class="text-secondary">Add a new entry:</h3>

        <form class="form" action="{% url 'learning_logs:new_entry' topic.id %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button class="btn btn-sm btn-success" name="submit">add entry</button>
            {% endbuttons %}
        </form>
{% endblock content %}