{% extends 'base.html' %}

{% block title %} Topics {% endblock title %}

{% block header %}
    <h2>Topics</h2>
{% endblock header %}

{% block content %}
    <h3>
        <a class="btn btn-success mb-2" href="{% url 'learning_logs:new_topic' %}">
            Add new topic
        </a>
    </h3>

    {% for topic in topics %}
    <div class="card card-primary bg-dark text-light mb-2 ps-2">
        <a class="text-decoration-none text-light topic" href="{% url 'learning_logs:topic' topic.id %}">
            <div class="card-title d-flex justify-content-between align-items-center p-1 mb-0 border-light">
                <h3 class="mb-0">
                    {{ topic }}
                </h3>
            </div>
        </a>
    </div>
            
    {% empty %}
        <p>No topics have been added yet.</p>
    {% endfor %}
 
{% endblock content %}