{% extends 'base.html' %}

{% block title %} {{ topic }} {% endblock title %}

{% block header %}
    <h2>{{ topic }}</h2>
{% endblock header %}

{% block content %}
<a class="btn btn-success mb-2" type="button" href="{% url 'learning_logs:new_entry' topic.id %}">
    Add a new entry:
</a>

    {% for entry in entries %}
        <div class="card card-primary bg-dark text-light mb-2">
            <div class="card-title d-flex justify-content-between align-items-center p-1 border-bottom border-light">
                <h4 class="panel-title m-0">
                    {{ entry.date_added|date:'M d, Y H:i:s' }}
                </h4>

                <a href="{% url 'learning_logs:edit_entry' entry.id %}" class="btn btn-warning btn-sm">edit entry</a>
            </div>

            <div class="card-body">
                <p class="card-text">{{ entry.text }}</p>
            </div>
        </div>

        {% empty %}
            <p class="entry-item empty">There are no entries for this topic yet.</p>
        {% endfor %}
            
{% endblock content %}