{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static './css/styles.css' %}">
    <title>Pizzas {% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="nav-bar">
        <div class="nav-header">
            <div class="nav-logo">
                <a href="{% url 'pizzas:index' %}">
                    <img src="{% static './images/pizza.png' %}" alt="logo">
                </a>
            </div>

            <h1>
                <a href="{% url 'pizzas:index' %}"><h1>Pizzeria</h1></a> 
            </h1>
        </div>


        <ul class="nav-links">
            <li>
                <a href="{% url 'pizzas:index' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'pizzas:pizza_list' %}">Pizzas</a>
            </li>
        </ul>
    </div>

    <div class="container">
        {% block content %}{% endblock content %}
    </div>

</body>
</html>