{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static './css/styles.css' %}">
    <title>Learning Log {% block title %}{% endblock %}</title>
</head>
<body>
    <p>
        <a href="{% url 'learning_logs:index' %}">Learning Logs</a>
        <span> - </span>
        <a href="{% url 'learning_logs:topics' %}">Topics</a>
    </p>
    
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    
</body>
</html>